<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>Upload File</title>
<link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div class="alert alert-success" role="alert" th:if = "${successmessage}">
	<h4 class="alert-heading" th:text = "${successmessage}">Well done!</h4>
</div>
<div class="alert alert-success" role="alert" th:if = "${errormessage}">
	<h4 class="alert-heading" th:text = "${errormessage}">Well done!</h4>
</div>

<div class = "container-fluid">
<div class = "row">
<div class = "col-md-12">
<h2>FileUpload</h2>
	<form method="POST" action="/upload" enctype="multipart/form-data">
    	<input type="file" name="file" /><br/><br/>
    	<input type="submit" value="Submit" />
	</form>
</div>
</div>
</div>
</body>
</html>